:root{
    --back: rgb(250, 235, 215);
    --mainImg: url(static/headshot.JPG);
    --secColor: rgb(173, 216, 230);
    --ExBullCover: #999;
}

/*
All Animations
*/

@keyframes navhoverin{
    0% {color: var(--back); margin-left: 0vw;}
    100% {color: var(--secColor); margin-left: 1.5vw;}
}
@keyframes navhoverout{
    0% {color: var(--secColor); margin-left: 1.5vw;}
    100% {color: var(--back); margin-left: 0vw;}
}
@keyframes gridhoverin{
    0% {height: 100%; width: 100%;}
    100% {height: 145%; width: 145%; margin-left: -20%;}
}
@keyframes gridhoverout{
    0% {height: 145%; width: 145%; margin-left: -20%;}
    100%{height: 100%; width: 100%; margin-left: 0%;}
}

/*
All Classes
*/

.Exh2 {
    margin-top: -1vh;
}

.navitem{
    border-bottom: 1px var(--back) solid;
    animation-name: navhoverout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    height: inherit;
    font-size: 1.5em;
    color: var(--back);
}

.navitem:hover{
    animation-name: navhoverin;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    border-color: lightblue;
    color: lightblue;
    cursor: pointer;
}

.center{
    align-self: center;
}

/*
All Tags
*/

body::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: none;
}


a:visited{
    text-decoration: none;
    color: var(--back);
}

a:visited:hover{
    text-decoration: none;
    color: var(--secColor);
}

/*
All IDs
*/

/*
    Nav Section
*/

#nav-wrapper {
    height: 100vh;
    width: 10vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

#nav {
    height: inherit;
    width: inherit;
    color: var(--back); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#navimg{
    background-image: var(--mainImg);
    background-size: 200%;
    background-position: center;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin-left: 1vw;
}

#main{
    background-image: linear-gradient(to top right, var(--back), var(--back), var(--secColor), var(--secColor), var(--secColor));
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*
    About Section
*/

#AboutWrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#title{
    margin-left: 5%;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
}

#About{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#AboutTopContent{
    margin-left: 10%;
    height: 50vh;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
}

#AboutImg{
    background-image: linear-gradient(to top right, var(--secColor), var(--secColor), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0, 0, 0, 0), var(--secColor), var(--secColor)),var(--mainImg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 30%;
    width: 50%;
    height: inherit;
}

#AboutImgWriting{
    margin-top: 7vh;
    width: 45%;
}

#AboutDesc{
    width: 110%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#AboutDesc h3{
 width: 70%;
}

/*
    Experience Section
*/

#ExperienceWrapper{
    margin-left: -3%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#Experience{
    margin-left: 10%;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ExperienceContent{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#BulletContainer{
    width: 13%;
    height: inherit;
}

#ExCircleTop {
    background-image: url(static/SPPro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    border-radius: 100%;
    margin-top: 20px;
    height: 20vh;
    width: 20vh;
}

#ExCircleTop:before {
    position: absolute;
    border: 1px solid var(--ExBullCover);
    width: 0;
    height: 7.5vh;
    display: block;
    top: 20vh;
    content: '';
    left: 50%;
    margin-left: var(--ExBullCover);
}

#ExCircleMid {
    position: relative;
    border-radius: 100%;
    margin-top: 5vh;
    background-image: url(static/SB.png);
    border-radius: 100%;
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

#ExCircleMid:before {
    top: 17vh;
    position: absolute;
    border: 1px solid var(--ExBullCover);
    width: 0;
    height: 5vh;
    display: block;
    content: '';
    left: 50%;
    margin-left: var(--ExBullCover);
  }

#ExCircleBot{
    margin-top: 2vh;
    position: relative;
    border-radius: 100%;
    background: url(static/Sage.jpg);
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

#ExDesc{
    margin-left: 2vw;
}

#ExDates{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*
    Resume Section
*/

#ResumeWrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Resume{
    margin-left: 10vw;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ResContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#ResHighlightsWrapper{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ResHighlights{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*
    Resume Grid Section
*/

#HighlightGrid{
    display: grid;
    gap: 2vw;
    height: 30%;
    width: 100%;
}

#HighlightGrid > div{
    animation-name: gridhoverout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#HighlightGrid > div:hover{
    animation-name: gridhoverin;
    animation-duration: .75s;
    animation-fill-mode: forwards;
}

#SPProGrid{
    grid-row-start: 1;
    grid-column-start: 1;
    background-image: url(static/SPPro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

#BeloitGrid{
    grid-row: 1;
    grid-column-start: 2;
    background-image: url(static/Beloit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

#GoogleDevClub{
    grid-row: 1;
    grid-column-start: 3;
    background-image: url('static/Google Dev Club.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

#InvestmentClub{
    grid-row-start: 2;
    grid-column: 1;
    background-image: url(static/Stock.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

#Languages{
    grid-row: 2;
    grid-column: 2;
    background-image: url(static/Languages.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

#PersonalProjects{
    grid-row: 2;
    grid-column: 3;
    background-image: url(static/Coding.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

#GridDesc{
    text-align: center;
    height: 15vh;
}

/*
    Contact Section
*/

#ContactWrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Contact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ContactContent{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#EmailMe{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#EmailContent{
    display: flex;
    flex-direction: column;
}

#EmailContent > label{
    margin-top: 5vh;
}

#emailsubject{
    width: 50%;
}


#emailcontent{
    width: 75%;
    height: 30vh;
}

#formsubmit{
    width: 25%;
    cursor: pointer;
    margin-top: 5vh;
}