:root{
    --back: rgb(250, 235, 215);
    --mainImg: url(static/headshot.JPG);
    --secColor: rgb(173, 216, 230);
    --ExBullCover: #999;
}

/*
All Classes
*/

.Exh2 {
    margin-top: -1vh;
}

.navitem{
    border-bottom: 1px var(--back) solid;
    height: inherit;
    font-size: 1.4em;
    color: var(--back);
    transition: color 1s, margin-left 1s, border-color 1s;
}

.navitem:hover{
    color: var(--secColor);
    margin-left: 1.5vw;
    border-color: var(--secColor);
    color: var(--secColor);
    cursor: pointer;
}

.center{
    align-self: center;
}

.preload{
    animation-name: none !important;
}

.active{
    color: var(--secColor) !important;
    margin-left: 1.5vw !important;
    border-color: var(--secColor);
}

/*
All Tags
*/

body::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color: none;
}


a:visited{
    text-decoration: none;
    color: var(--back);
}

a:visited:hover{
    text-decoration: none;
    color: var(--secColor);
}

h1, h2, h3{cursor: default;}

li{cursor: default;}

/*
    Nav Section
*/

#nav-wrapper {
    height: 100vh;
    width: 10vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

#nav {
    height: inherit;
    width: inherit;
    color: var(--back); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#navimg{
    background-image: var(--mainImg);
    background-size: 200%;
    background-position: center;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin-left: 1vw;
}

#main{
    background-image: linear-gradient(to top right, var(--back), var(--back), var(--secColor), var(--secColor), var(--secColor));
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*
    About Section
*/

#AboutWrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#title{
    margin-left: 5%;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
}

#About{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#AboutTopContent{
    margin-left: 10%;
    height: 50vh;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
}

#AboutImg{
    background-image: linear-gradient(to top right, var(--secColor), var(--secColor), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0, 0, 0, 0), var(--secColor), var(--secColor)),var(--mainImg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 30%;
    width: 50%;
    height: inherit;
}

#AboutImgWriting{
    margin-top: 7vh;
    width: 45%;
}

#AboutDesc{
    width: 110%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#AboutDesc h3{
 width: 70%;
}

/*
    Experience Section
*/

#ExperienceWrapper{
    margin-left: -3%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Experience{
    margin-left: 10%;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ExperienceContent{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#BulletContainer{
    width: 13%;
    height: inherit;
}

#ExCircleTop {
    background-image: url(static/SPPro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    border-radius: 100%;
    margin-top: 20px;
    height: 20vh;
    width: 20vh;
}

#ExCircleTop:before {
    position: absolute;
    border: 1px solid var(--ExBullCover);
    width: 0;
    height: 7.5vh;
    display: block;
    top: 20vh;
    content: '';
    left: 50%;
    margin-left: var(--ExBullCover);
}

#ExCircleMid {
    position: relative;
    border-radius: 100%;
    margin-top: 5vh;
    background-image: url(static/SB.png);
    border-radius: 100%;
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

#ExCircleMid:before {
    top: 17vh;
    position: absolute;
    border: 1px solid var(--ExBullCover);
    width: 0;
    height: 5vh;
    display: block;
    content: '';
    left: 50%;
    margin-left: var(--ExBullCover);
  }

#ExCircleBot{
    margin-top: 2vh;
    position: relative;
    border-radius: 100%;
    background: url(static/Sage.jpg);
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

#ExDesc{
    margin-left: 2vw;
}

#ExDates{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*
    Resume Section
*/

#ResumeWrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Resume{
    margin-left: 10vw;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ResContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#ResHighlightsWrapper{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ResHighlights{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*
    Resume Grid Section
*/

#HighlightGrid{
    display: grid;
    gap: 2vw;
    height: 30%;
    width: 100%;
}

#SPProGrid{
    grid-row-start: 1;
    grid-column-start: 1;
    background-image: url(static/SPPro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    transition: height .75s, width .75s, margin-left .75s;
}

#SPProGrid:hover {
    height: 145%;
    width: 145%;
    margin-left: -20%;
}

#BeloitGrid{
    grid-row: 1;
    grid-column-start: 2;
    background-image: url(static/Beloit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    transition: height .75s, width .75s, margin-left .75s;
}

#BeloitGrid:hover {
    height: 145%;
    width: 145%;
    margin-left: -20%;
}

#GoogleDevClub{
    grid-row: 1;
    grid-column-start: 3;
    background-image: url('static/Google Dev Club.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    transition: height .75s, width .75s, margin-left .75s;
}

#GoogleDevClub:hover {
    height: 145%;
    width: 145%;
    margin-left: -20%;
}

#InvestmentClub{
    grid-row-start: 2;
    grid-column: 1;
    background-image: url(static/Stock.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    transition: height .75s, width .75s, margin-left .75s;
}

#InvestmentClub:hover {
    height: 145%;
    width: 145%;
    margin-left: -20%;
}

#Languages{
    grid-row: 2;
    grid-column: 2;
    background-image: url(static/Languages.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    transition: height .75s, width .75s, margin-left .75s;
}

#Languages:hover {
    height: 145%;
    width: 145%;
    margin-left: -20%;
}

#PersonalProjects{
    grid-row: 2;
    grid-column: 3;
    background-image: url(static/Coding.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    transition: height .75s, width .75s, margin-left .75s;
}

#PersonalProjects:hover {
    height: 145%;
    width: 145%;
    margin-left: -20%;
}

#GridDesc{
    text-align: center;
    height: 15vh;
}

/*
    Contact Section
*/

#ContactWrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Contact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ContactContent{
    margin-left: 15vw;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#EmailMe{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#EmailContent{
    display: flex;
    flex-direction: column;
}

#EmailContent > label{
    margin-top: 5vh;
}

#emailsubject{
    width: 50%;
}

#emailcontent{
    width: 75%;
    height: 30vh;
}

#formsubmit{
    width: 25%;
    cursor: pointer;
    margin-top: 5vh;
}

#InterestHolder{
    height: 100%;
    width: 40%;
    margin-left: 5%;
}

#ContactImg{
    background-image: url(static/Skiing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#SlideArrows{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Prev{
    width: 10%;
    height: 30%;
}
#Prev:hover{
    cursor: pointer;
    background-color: rgba(50, 50, 50, .5);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}
#Next{
    width: 10%;
    height: 30%;
}
#Next:hover{
    cursor: pointer;
    background-color: rgba(50, 50, 50, .5);
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

#InterestTitle{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}